@page "/Account/Manage/PersonalData"

@inject IdentityUserAccessor UserAccessor

<PageTitle>Datos personales</PageTitle>

<StatusMessage />
<h3>Datos personales</h3>

<div class="row">
    <div class="col-md-6">
        <p>Su cuenta contiene informacion personal que nos ha entregado. Esta pagina permite descargar o eliminar esos datos.</p>
        <p>
            <strong>Eliminar estos datos eliminara completamente su cuenta, y no se podra recuperar.</strong>
        </p>
        <form action="Account/Manage/DownloadPersonalData" method="post">
            <AntiforgeryToken />
            <button class="btn btn-primary" type="submit">Descargar</button>
        </form>
        <p>
            <a href="Account/Manage/DeletePersonalData" class="btn btn-danger">Borrar</a>
        </p>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
