@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Olvido su confirmacion de password</PageTitle>

<h1>Olvido su confirmacion de password</h1>
<p>
    Por favor verifique su correo electronico para la confirmacion.
</p>
