@page "/Account/ResetPasswordConfirmation"
<PageTitle>Confirmacion de reset de password</PageTitle>

<h1>Confirmacion de reset de password</h1>
<p>
    Su password ha sido reestablecido. Por favor <a href="Account/Login">haga click aca para ingresar</a>.
</p>
